<nav class="navbar navbar-dark py-4" style="background-color:#010409">
  <div class="container d-flex justify-content-between">
    <a href="/" class="text-decoration-none">
      <span class="navbar-brand mb-0 h1">
        <i class="bi bi-journal-check"></i>
        TODO-ER</span>
    </a>
  </div>
</nav>